.maintron {
    height: 510px;
    background-image: url("https://static-cdn.jtvnw.net/ttv-platforms/background-art/404_backgroundart.jpg");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maintron img{
  padding: 10px 0px;
  width: 960px;
}

.carousel {
    width: 960px;
    margin-bottom: 5px;
    height: 20%;
    display: flex;
    justify-content: space-around;

}

.maintron .carousel img{
    width: 16.666%;
    padding: 0 5px;
}

.maintron .carousel img:first-child{
  padding-left: 0px;
}

.maintron .carousel img:nth-child(6){
  padding-right: 0px;
}
